  
  .login {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: auto;
    background: #f0f2f5;
  }
  .login-form {
    width: 368px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }

